<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>注册页面</title>
<link href="<{$Template_Dir}>/css/common.css"  rel="stylesheet" type="text/css">
<link href="<{$Template_Dir}>/css/maillogin.css"  rel="stylesheet" type="text/css">

<script src="<{$Template_Dir}>/js/jquery-1.8.3.min.js"></script>
<script src="<{$Template_Dir}>/js/maillogin.js"></script>
</head>

<body>
<{*导入header.html*}>
<{include file="header.html"}>

<!-- 内容区 -->
<div id="container">

	<div id="mailChk">

		<div class="hfonts ftit">邮箱验证</div>
		<img class="mailpic" src="<{$Template_Dir}>/images/mail.jpg">
		<div class="mailfonts">
			<div class="hfonts">验证邮件已发出，请48小时内登陆邮箱验证</div>
			<div class="sfonts">登录邮箱 <a id="mailaddr" class="orange"><{$m}></a> ,并按邮件提示操作即可</div>
			<input id="n" type="hidden" value="<{$n}>"/>
			<input id="k" type="hidden" value="<{$k}>"/>
		</div>
		<button type="button" id="maillogin"><a href="">立即登录邮箱验证</a></button>
		<div class="ftit ftit2"></div>
		<div class="cls"></div>
		<div class="notice">
			<h3 class="notit">还没有收到验证邮件呢？</h3>
			<ul class="noul">
				<li>1.尝试到广告邮件、垃圾邮件目录里找找看</li>
				<li>2.<a id="re" class="blue" href="#">再次发送验证邮件</a></li>
				<li>3.如果重发注册验证邮件仍然没有收到，请更换<a class="blue" href="<{$ROOT_URL}>register.php">另一个邮件地址</a></li>
			</ul>
		</div>
	</div>
	
</div>
</body>
<script>

	$(function(){

		$("#re").click(function(){
		
			$.post("remailajax.php",{
                         
             //要传递的数据
             n : $("#n").val(),
			 k : $("#k").val(),
			 m : $("#mailaddr").text()
			},function(data,textStatus){

				if(data == 0){
			
					success();
				}else{
			
					alert("重新发送邮件失败");
				}
			});

			return false;
		});

		
		$notice = $("<div id=\"notice\">邮件已经发送，请到邮箱中查看...</div>");
		function success(){
			
			$notice.insertAfter($("#mailChk"));

			$notice.show(300);
		}					

		function hide(){
		
			if($notice){
			
				$notice.hide(300);
			}
		}

		//显示4秒
		setInterval(hide,4000);
	});
</script>
</html>