body{

	font-size:12px;
	font-family:"微软雅黑";
	line-height:24px;
	margin:0px;
	padding:0px;
	color:#000;	
	background:url("../images/bg-0.jpg") 0 0 repeat;
}

ol,li{ list-style-type:none;}
a{ color:#406cba; text-decoration:none;}
.cls{ clear:both;}


/*****************************************************/

/*顶部长条*/
#header-nav{

	/*宽度不受限制*/
	width:100%;
	height:50px;
	border-bottom:3px solid rgba(0,0,0,0.06);
	background-color:#fff;
}

#header-nav-fonts{ width:900px; margin:0 auto; padding-left:100px; padding-right:100px;}

.top-tie-big,.top-tie-big a{

	font-size:24px;
	line-height:48px;
	color:#323232;
	float:left;
}

/* 小 "|" */
.top-tie{ 
	
	width: 1px;
	height: 26px;
	overflow: hidden;
	margin: 12px 20px 0 20px;
	text-indent: -9999px;
	background: #dfdfdf;
	float:left;
}

.top-tie-small{

	float:right;

	font-size:12px;
	line-height:48px;
	color:#949494;
	font-family:"宋体";
}

.top-tie-small a:hover{ color:#ee8c18;}


/**********************************************************/

#container{

	/* 页面宽度 */
	width:1200px;
	height:auto;
	margin:0 auto;
}
